MODEL:
  META_ARCHITECTURE: "GeneralizedRCNN"
  WEIGHT: ""
  BACKBONE:
    CONV_BODY: "R-50-FPN"
    OUT_CHANNELS: 256
  RPN:
    USE_FPN: True
    ANCHOR_STRIDE: (4, 8, 16, 32, 64)
    PRE_NMS_TOP_N_TRAIN: 2000
    PRE_NMS_TOP_N_TEST: 1000
    POST_NMS_TOP_N_TEST: 1000
    FPN_POST_NMS_TOP_N_TEST: 1000
  ROI_HEADS:
    USE_FPN: True
    SCORE_THRESH: 0.05
  ROI_BOX_HEAD:
    POOLER_RESOLUTION: 7
    POOLER_SCALES: (0.25, 0.125, 0.0625, 0.03125)
    POOLER_SAMPLING_RATIO: 2
    FEATURE_EXTRACTOR: "FPN2MLPFeatureExtractor"
    PREDICTOR: "FPNPredictor"
    NUM_CLASSES: 101
DATASETS:
  TRAIN: ("vrd_train_3",)
  TEST: ("vrd_val_3",)
DATALOADER:
  SIZE_DIVISIBILITY: 32
SOLVER:
  BASE_LR: 0.01
  WEIGHT_DECAY: 0.0001
  STEPS: (40000, 60000)
  MAX_ITER: 70000
TEST:
  IMS_PER_BATCH: 2
OUTPUT_DIR: ""
CONFIG:
  num_predicates: 70
  word2vec: "/data/obj2vec.mat"
  location_anchors: "/data/A_sim.mat"
  backbone_weight: "/outputs/output_objectpairs_proposing_stage/model1_final.pth"
  rating_weight: "/outputs/output_objectpairs_proposing_stage/model2_final.pth"
